# Mac System Files
.DS_Store

# Xcode User Settings (The "xcursor" stuff)
*.xcuserstate
xcuserdata/

# Build Files (Temporary junk)
DerivedData/
build/
*.os_activity_dt_mode

# Sparkle Binaries
bin/

# Editor Workspace Files
*.code-workspace

# Utility Scripts
inspect_image.swift
